---
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Losowarka">
	<main>
		<Logo />
		<div class="pretty">Losowarka wrocławskiego JUGa!</div>
	</main>
</Layout>

<style>
	.pretty {
		margin: 20px;
		font-weight: bold;
		font-size: 3rem;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
